.discounts-container {
    margin-left: 50px;
}

.discounts-search-bar {
    background: #3E3647;
    margin-bottom: 30px;

    color: #ffffff;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-radius: 10px;
}

.discounts-search-bar input::placeholder {
    color: #a9a9ab;
}

.discounts-container input::placeholder {
    color: #a9a9ab;
}

.input-discount {
    margin-left: 10px;
}

.input-discount input{
    width: 150px;
    border-radius: 5px;
}