.book-panel {
    display: flex;
    flex-direction: column;
}

.book-cover {
    width: 100px;
    height: auto;
}

.user-books-container {
    width: 340px;
    height: auto;
    margin-right: 10px;
    background: #302939;
}

.item-lib {
    background: #776E82;
    margin: 15px 10px 15px 10px;
    border-radius: 9px;
    padding: 5px;
    cursor: pointer;
}

.book-link {
    text-decoration: none;
}

.user-books-container h3{
    color: #FFFFFF;
    font-size: 22px;
}

.row-section {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 45px;
}

.book-info2 {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 260px;
}

.book-info h3{
    font-size: 30px;
}
